################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/packages
/.vs
/CoreLib/obj/Debug
/CoreLib/bin/Debug
/MoneyLion/obj/Debug
/MoneyLion/bin
/MoneyLion/obj/Release
